.li {
  margin-bottom: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.name {
  margin-right: 5px;
}

.icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  filter: invert(1);
}
