.container {
  width: min-content;
  min-width: 110px;
  min-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dadada;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.default {
  background-color: #566269;
  border-radius: 5px;
  position: relative;
  text-align: center;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.default:hover {
  filter: brightness(0.85);
}

.default::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url('../../../img/svg/right.svg');
  background-size: cover;
  transform: rotate(90deg);
  filter: invert(1);
  position: absolute;
  top: calc(50% - 12px);
  right: 10px;
  transition: all 0.2s linear;
}

.genresContainer {
  /* display: none; */
  width: 160px;
  height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: height 0.3s linear;
  background-color: #566269;
  border-radius: 0 0 5px 5px;
}

.genresContainer::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.genresContainer::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #313a3f;
  border-radius: 3px;
}

.genre {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 32px;
}

.genre span {
  padding-left: 5px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 13px;
  width: 100%;
  min-height: 35px;
  border-bottom: 1px solid #ccc;
  text-align: right;
}

.label:first-child {
  border-top: 1px solid #ccc;
}

.label:last-child {
  border-bottom: none;
}

.block {
  height: 145px;
}

.rotate {
  border-radius: 5px 5px 0 0;
}

.rotate::after {
  transform: rotate(-90deg);
}
@media (max-width: 1000px) {
  .container {
    margin-bottom: 5px;
  }
  .container:has(.block) {
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  .container {
    font-size: 14px;
    min-width: 1px;
    min-height: 1px;
    align-items: flex-start;
  }
  .default,
  .genresContainer {
    width: 120px;
  }

  .label {
    font-size: 10px;
  }
  .block {
    height: 130px;
  }
}

@media (max-width: 500px) {
  .container {
    font-size: 10px;
  }
  .default,
  .genresContainer {
    width: 60px;
  }

  .default {
    height: 20px;
    padding-right: 5px;
  }

  .default::after {
    width: 10px;
    height: 10px;
    right: 1px;
    top: calc(50% - 5px);
  }

  .label {
    font-size: 6px;
    padding: 2px;
    min-height: 20px;
  }
  .block {
    height: 125px;
  }
  .genresContainer::-webkit-scrollbar {
    width: 2px;
    background: transparent;
  }
  .genresContainer::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: rgb(9, 9, 12);
  }
}
