.container {
  width: min-content;
  min-width: 110px;
  min-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dadada;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.default {
  background-color: #566269;
  border-radius: 5px;
  position: relative;
  text-align: center;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.default:hover {
  filter: brightness(0.85);
}

.default::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url('../../../img/right.svg');
  background-size: cover;
  transform: rotate(90deg);
  filter: invert(1);
  position: absolute;
  top: calc(50% - 12px);
  right: 10px;
  transition: all 0.2s linear;
}

.genresContainer {
  /* display: none; */
  width: 160px;
  height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: height 0.3s linear;
  background-color: #566269;
  border-radius: 0 0 5px 5px;
}

.genresContainer::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.genresContainer::-webkit-scrollbar-thumb {
  width: 5px;
  height: 15px;
  background-color: #313a3f;
  border-radius: 3px;
}

.genre {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 32px;
}

.genre span {
  padding-left: 5px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 13px;
  width: 100%;
  min-height: 35px;
  border-bottom: 1px solid #ccc;
  text-align: right;
}

.label:first-child {
  border-top: 1px solid #ccc;
}

.label:last-child {
  border-bottom: none;
}

.block {
  height: 145px;
}

.rotate {
  border-radius: 5px 5px 0 0;
}

.rotate::after {
  transform: rotate(-90deg);
}
