.form {
  width: 300px;
  margin-right: 55px;
  position: relative;
}

.input {
  width: 100%;
  min-height: 34px;
  background-color: #414f57;
  border-radius: 17px;
  padding: 5px 15px;
  border: 0;
  outline: 0;
  color: #dadada;
  font-size: 14px;
}

.input::-webkit-input-placeholder {
  color: #dadada;
  font-family: 'Poppins';
  font-size: 14px;
}

.btn {
  position: absolute;
  top: calc(50% - 13px);
  right: 10px;
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 26px;
  height: 26px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.9);
}

.search {
  width: 100%;
}
