.container {
  width: 100%;
  margin-top: 40px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  width: 120px;
  height: 30px;
  margin: 30px 0px;
  border: 0;
  border-radius: 20px;
  background-color: aquamarine;
  outline: 0;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgb(105, 209, 174);
  cursor: pointer;
  transition: all 0.2s linear;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  box-shadow: 0px 0px 3px rgb(105, 209, 174);
}

.spinnerContainer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .container {
    padding: 0px;
  }
}

@media (max-width: 500px) {
  .container {
    justify-content: space-around;
    padding: 0px 40px;
  }
  .btn {
    width: 70px;
    height: min-content;
    font-size: 10px;
    padding: 7px 12px;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 0px 5px;
  }
}
