.descriptionContainer {
  margin-top: 40px;
}

.description {
  text-align: left;
}

.description h2 {
  margin-bottom: 20px;
}
.red {
  color: aquamarine;
}

@media (max-width: 660px) {
  .description {
    text-align: center;
  }
  .description p {
    text-align: left;
  }
}
@media (max-width: 500px) {
  .descriptionContainer {
    padding: 0px 10px;
  }
  .description h2 {
    font-size: 18px;
  }
  .description p {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .description h2 {
    font-size: 16px;
  }
  .description p {
    font-size: 12px;
  }
}
