.container {
  min-height: 100vh;
  position: relative;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

@media (max-width: 1150px) {
  .main {
    flex-direction: column-reverse;
  }
}
@media (max-width: 350px) {
  .main {
    width: 100%;
  }
}
