.container {
  /* display: flex; */
  width: 100%;
  height: 500px;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.wrapInner {
  display: flex;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  transition: all 0.3s linear;
}

.btnContainer {
  width: 60px;
  position: absolute;
  right: 20px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.btn {
  background-color: #414f57;
  width: 100%;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.2s linear;
}

.btn:hover {
  transform: scale(0.92);
  filter: brightness(0.83);
}

.btnImage {
  filter: invert(1);
  width: 32px;
}
