.container {
  position: absolute;
  left: 20px;
  bottom: 40px;
  z-index: 35;
  max-width: 800px;
  text-align: left;
}

.description {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 300;
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.raiting {
  color: aquamarine;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.name {
  font-size: 40px;
  text-shadow: 0 0 5px #000;
}

.btn {
  border: 0;
  border-radius: 20px;
  background-color: aquamarine;
  padding: 10px 15px;
  outline: 0;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgb(105, 209, 174);
  cursor: pointer;
  transition: all 0.2s linear;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  box-shadow: 0px 0px 5px rgb(105, 209, 174);
}

.icon {
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin-right: 5px;
}

.info {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  margin: 10px 0px;
}

.infoElem {
  display: flex;
  align-items: center;
}
