.container {
  position: relative;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
}

.reset {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #566269;
  color: #dadada;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btnBack {
  width: 20px;
  height: 20px;
}

.reset:hover {
  transform: scale(0.95);
  filter: brightness(0.9);
}

@media (max-width: 1000px) {
  .container {
    width: calc(100% - 200px);
    justify-content: space-between;
    margin-right: 10px;
    flex-wrap: wrap;
  }
}
@media (max-width: 810px) {
  .container {
    width: 330px;
    margin-right: 0px;
  }
  .reset {
    margin-top: 5px;
  }
}
@media (max-width: 750px) {
  .container {
    width: 260px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 210px;
  }
}
@media (max-width: 400px) {
  .container {
    justify-content: space-around;
  }
  .btnBack {
    width: 15px;
    height: 15px;
  }
  .reset {
    padding: 0px;
    width: 20px;
    height: 20px;
  }
}
